.git
.github
.idea
.vscode
.env
.env.*
!.env.example
**/target
**/build
**/__pycache__
**/*.pyc
**/.pytest_cache
**/node_modules
**/tempo-data
**/loki-data
**/prometheus-data
**/volume-data
*.pem
*.key
*.p12
*.jks
